<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Order</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
</head>
<body >
    <div layout:fragment="content" class="container-fluid pt-5">
        <nav aria-label="breadcrumb" class="pt-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page"> List Order</li>
            </ol>
        </nav>
        <div class="card mt-4">
            <div class="card-header">
                <span >
                    List Order
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="Table" class="table table-striped display shadow-sm" style="width:100%">
                            <thead>
                            <th>Id</th>
                            <th>Order Date</th>
                            <th>Customer</th>
                            <th>Total Amount</th>
                            <th>Action</th>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="script">
        <script>
            $('#Table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/api/sales",
                columns: [
                    {
                        data: 'id',
                    },
                    {
                        data: 'date',
                    },
                    {
                        data:'customer',
                        render:(data)=>`${data.lastName}`+" "+`${data.fistName}`,
                    },
                    {
                        data:'total',
                        render:(data)=>`${data}`+" $",
                    },
                    {
                        data:'id',
                        render:(data)=>`<a class="btn btn-danger btn-sm" href="/list-order/${data}">Delete</a>`
                    },
                ]
            });
        </script>
    </div>

</body>

</html>