<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>Open POS</title>
</head>
<body>
<div layout:fragment="content" class="container pt-5">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <div class="row pt-4">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="float-start">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span>Open POS</span>
        </div>
        <form th:action="@{/open-pos}" method="post" th:object="${sale}" >
            <div class="card-body bg-light" style="height: 550px;">
                <input type="text" th:field="${sale.id}" hidden>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6 card-title align-items-center"><h6>Customer :</h6></div>
                            <div class="col-lg-6">
                                <div class="w-100 align-items-center mb-2">
                                    <select class="form-control" th:field="${sale.customer}">
                                        <option th:each="c : ${sale.customers}" th:text="${c.fistName+' '+c.lastName}"
                                                th:value="${c.id}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="card" style="height: 350px;">
                                <div class="card-header bg-primary rounded-4 fs-6 align-items-center" style="color: white">
                                    <div class="d-flex justify-content-between">
                                        <span>Code</span><span>Name</span><span>Unit Price</span>
                                    </div>
                                </div>
                                <div class="card-body" style="overflow-y: scroll; max-height: 80%;">
                                    <table class="table">
                                        <tbody id="tbody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12 d-flex mt-3 justify-content-between">
                                <button class="btn btn-danger "><a class="text-light" th:href="@{/open-pos}">Cancel</a></button>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" >
                        <div style="overflow-y: scroll; max-height: 70%;">
                            <div class="d-flex">
                                <div class="row " >
                                    <div class="col-lg-4 justify-content-center text-center hover-shadow rounded-4 p-2" th:each="p : ${sale.products}">
                                        <div class="pro">
                                            <input class="form-check float-end" th:field="${sale.unit_price}" type="checkbox" th:value="${p.price}" >
                                            <img src="https://static.vecteezy.com/system/resources/thumbnails/000/351/278/small_2x/9__2848_29.jpg" class="w-50 rounded-2" id="wizardPicturePreview" title="">
                                            <input class="id" th:value="${p.id}" hidden>
                                            <input class="name" th:value="${p.name}" hidden>
                                            <input class="code" th:value="${p.code}" hidden>
                                            <input class="price" th:value="${p.price}" hidden>
                                            <h6 class="text-center" style="font-size: 10px" th:text="${p.name}"></h6>
                                        </div>
                                        <input class="qty form-control-sm mt-1" th:field="${sale.qty}"  type="number" style="width: 50px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $(".qty").val(0);
            $('div.pro').on('click', function() {
                var id = $(this).find('input.id').val();
                var name = $(this).find('input.name').val();
                var code = $(this).find('input.code').val();
                var price = $(this).find('input.price').val();
                if(id.length > 0){
                    let tr = '';
                    tr += '<tr class="d-flex justify-content-start">';
                    tr += ' <td>'+code+'</td>';
                    tr += '<td>'+name+'</td>';
                    tr += '<td class="d-flex">'+price+'';
                    tr += '<span class="btn btn-sm btn-danger remove float-end">x</span>';
                    tr += '</td> </tr>';
                    $("#tbody").append(tr);
                }
            });
            $("#tbody").on('click','.remove', function (){
               $(this).closest('tr').remove();
            });
        });
    </script>
</div>
</body>
</html>
