<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>List Product</title>
</head>
<body>
<div layout:fragment="content" class="container pt-5">
    <div class="row pt-4">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="float-start">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li class="breadcrumb-item active">List Products</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span>List Product</span>
            <a class="btn btn-primary btn-sm float-end" th:href="@{/products/create}">Add</a>
        </div>
        <div class="card-body">
                <div class="row pt-2">
                    <div class="col-md-12">
                        <table class="table align-middle mb-0 bg-white table-hover">
                            <thead>
                            <th hidden>Id</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Barcode</th>
                            <th>Category</th>
                            <th>Cost</th>
                            <th>QTY</th>
                            <th>Price</th>
                            <th>Stock Type</th>
                            <th>Status</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            <tr th:each="product: ${products}">
                                <td hidden th:text="${product.id}"></td>
                                <td th:text="${product.code}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.barcode}"></td>
                                <td th:text="${product.category.name}"></td>
                                <td th:text="${product.cost}"></td>
                                <td th:text="${product.qty}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.stock_type}"></td>
                                <td>
                                    <span class="badge badge-success rounded-pill d-inline" th:if="${product.status=='ACT'}">Active</span>
                                    <span class="badge badge-danger rounded-pill d-inline" th:if="${product.status=='DEL'}">Delete</span>
                                    <span class="badge badge-secondary rounded-pill d-inline" th:if="${product.status=='DSL'}">Disable</span>
                                </td>
                                <td >
                                    <a class="btn btn-sm btn-primary" th:href="@{'/products/edit/'+${product.id}}">Edit</a>
                                    <a class="btn btn-sm btn-danger" th:href="@{'/products/delete/'+${product.id}}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>

</div>
</body>
</html>
