<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid pt-5 text-center">
        <span class="text-muted">Final Assignment Group</span>
    </div>
</div>