<header th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">POS Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li th:if="${#authorization.expression('isAuthenticated()')}"  class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            POS Management
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/open-pos}">Open POS</a></li>
                            <li><a class="dropdown-item" th:href="@{/customers}">Customer</a></li>
                            <li><a class="dropdown-item" th:href="@{/list-order}">Order Detail</a></li>
                        </ul>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"  class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Product Management
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/categories}">Category</a></li>
                            <li><a class="dropdown-item" th:href="@{/products}">Products</a></li>
                        </ul>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"  class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Employee Management
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/positions}">Position</a></li>
                            <li><a class="dropdown-item" th:href="@{/departments}">Departments</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/employees}">Employees</a></li>
                            <li class="dropdown-item">
                                <a th:if="${#authorization.expression('isAuthenticated()')}" class="dropdown-item" href="/logout"><span class="fa fa-sign-out"></span>Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}"  class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User Management
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/users}">Users</a></li>
                            <li><a class="dropdown-item" th:href="@{/roles}">Role</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>
</header>