<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid pt-5">
    <nav aria-label="breadcrumb" class="pt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
        </ol>
    </nav>
    <div class="card mt-4">
        <div class="card-header">
            Dashboard
<!--            <a th:href="@{/employees/create}" class="btn btn-primary btn-sm float-end">Add</a>-->
        </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <!-- small box -->
                                <div class="small-box bg-info rounded-4 mt-2">
                                    <div class="inner p-3">
                                        <h3>12</h3>
                                        <p>Orders Count</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <!-- small box -->
                                <div class="small-box bg-success rounded-4 mt-2">
                                    <div class="inner p-3">
                                        <h3>13</h3>
                                        <p>Income</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <!-- small box -->
                                <div class="small-box bg-danger rounded-4 mt-2">
                                    <div class="inner p-3">
                                        <h3>1000</h3>
                                        <p>Income Today</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <!-- small box -->
                                <div class="small-box bg-warning rounded-4 mt-2">
                                    <div class="inner p-3">
                                        <h3>2</h3>
                                        <p>Customers Count</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                    </div>
                </div>
    </div>
</div>
</body>
</html>
