<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>Create Customer</title>
</head>
<body>
<div layout:fragment="content" class="container pt-5">
    <div class="row pt-4">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="float-start">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/customers}">List Customers</a></li>
                    <li th:if="${customer.id == 0}" class="breadcrumb-item active">Create Customer</li>
                    <li th:if="${customer.id != 0}" class="breadcrumb-item active" aria-current="page">Update Customer</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span th:if="${customer.id == 0}">Create Category</span>
            <span th:if="${customer.id != 0}">Update Category</span>
        </div>
        <div class="card-body">
            <div class="row pt-2">
                <div class="col-md-12">
                    <form th:action="@{/customers/create}" method="post" th:object="${customer}" enctype="multipart/form-data">
                        <input th:field="*{id}" hidden>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label>Last-Name</label>
                                    <input class="form-control " th:field="*{lastName}" type="text" placeholder="LastName" >
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label>Fist-Name</label>
                                    <input class="form-control" th:field="*{fistName}" type="text"  placeholder="FistName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label for="cost" >Email</label>
                                    <input class="form-control" th:field="*{email}" type="email"   id="cost" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label>Phone</label>
                                    <input class="form-control " th:field="*{phone}" type="text"  placeholder="Phone" >
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="md-3 col-12">
                                <label>Select Status</label>
                                <select class="form-control" th:field="*{status}">
                                    <option th:each="status : ${customer.statusList}" th:text="${status.value}"
                                            th:value="${status.key}"
                                    ></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 md-3">
                                <label for="des">Address</label>
                                <textarea class="form-control" id="des" th:field="*{address}"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-6">
                                <div class="md-3 mt-3">
                                    <img th:src="*{profile}" class="picture-src w-25 h-25" id="wizardPicturePreview" title="">
                                    <input type="file" th:field="*{file}" id="wizard-picture" class="form-control" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <button th:if="${customer.id==0}" class="btn btn-primary btn-sm mt-2 float-end">Create</button>
                        <button th:if="${customer.id!=0}" class="btn btn-primary btn-sm mt-2 float-end">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
