<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>List Customer</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid pt-5">
    <div class="row pt-4">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="float-start">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li class="breadcrumb-item active">List Customer</li>
                </ol>
            </nav>
        </div>
        <div class="card col-lg-12">
            <div class="card-header">
                <span>List Customer</span>
                <a class="btn btn-primary btn-sm float-end" th:href="@{/customers/create}">Add</a>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <table class="table align-middle mb-0 bg-white table-responsive table-hover">
                        <thead>
                        <th>Id</th>
                        <th>LastName</th>
                        <th>FistName</th>
                        <th>Profile</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                        <tr th:each="customer: ${customers}">
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.lastName}"></td>
                            <td th:text="${customer.fistName}"></td>
                            <td class="text-center">
                                <img th:src="${customer.profile}" width="50" height="50" class="picture-src rounded-circle" id="wizardPicturePreview" title="">
                            </td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.phone}"></td>
                            <td th:text="${customer.address}"></td>
                            <td>
                                <span class="badge badge-success rounded-pill d-inline" th:if="${customer.status=='ACT'}">Active</span>
                                <span class="badge badge-danger rounded-pill d-inline" th:if="${customer.status=='DEL'}">Delete</span>
                                <span class="badge badge-secondary rounded-pill d-inline" th:if="${customer.status=='DSL'}">Disable</span>
                            </td>
                            <td >
                                <a class="btn btn-sm btn-primary" th:href="@{'/customers/edit/'+${customer.id}}">Edit</a>
                                <a class="btn btn-sm btn-danger" th:href="@{'/customers/delete/'+${customer.id}}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
